<!-- ======================[ Tabs ]====================== -->

<div class="tabs">
	<div class="tabs__container">
		<div class="tabs__menu menu-tabs">
			<button class="menu-tabs__btn active">Home</button>
			<button class="menu-tabs__btn">About</button>
			<button class="menu-tabs__btn">Blogs</button>
			<button class="menu-tabs__btn">Contacts us</button>
			<div class="line"></div>
		</div>
		<div class="tabs__block block-tabs2">
			<div class="block-tabs__content active">
				<h2 class="block-tabs__title">Home</h2>
				<p class="block-tabs__text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis beatae facilis non ex harum deleniti suscipit nisi quasi impedit necessitatibus magni debitis illum, et ad nobis assumenda autem minus. Ducimus.
				</p>
			</div>
			<div class="block-tabs__content">
				<h2 class="block-tabs__title">About</h2>
				<p class="block-tabs__text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis beatae facilis non ex harum deleniti suscipit nisi quasi impedit necessitatibus magni debitis illum, et ad nobis assumenda autem minus. Ducimus.
				</p>
			</div>
			<div class="block-tabs__content">
				<h2 class="block-tabs__title">Blogs</h2>
				<p class="block-tabs__text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis beatae facilis non ex harum deleniti suscipit nisi quasi impedit necessitatibus magni debitis illum, et ad nobis assumenda autem minus. Ducimus.
				</p>
			</div>
			<div class="block-tabs__content">
				<h2 class="block-tabs__title">Contacts us</h2>
				<p class="block-tabs__text">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis beatae facilis non ex harum deleniti suscipit nisi quasi impedit necessitatibus magni debitis illum, et ad nobis assumenda autem minus. Ducimus.
				</p>
			</div>
		</div>
	</div>
</div>




<div data-tabs class="tabs">
	<nav data-tabs-titles class="tabs__navigation">
		<button type="button" class="tabs__title _tab-active">Tab 1</button>
		<button type="button" class="tabs__title">Tab 2</button>
		<button type="button" class="tabs__title">Tab 3</button>
	</nav>
	<div data-tabs-body class="tabs__content">
		<div class="tabs__body _tab-active">
			Tab 1 Content
		</div>
		<div class="tabs__body">
			Tab 2 Content
		</div>
		<div class="tabs__body">
			Tab 3 Content
		</div>
	</div>
</div>