// ======================[ Ripple Button ]======================

.ripple-button {
  background-color: #7a9568;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  letter-spacing: 1px;
  transition: background-color 0.3s ease 0s;
  overflow: hidden;
  color: #fff;
  &::hover {
    background-color: #68855d;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);

  animation: button-circle 2s ease forwards;
}

@keyframes button-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}