<!-- Text Input -->
<div class="form__item">
	<label for="formName" class="form__label">Name*:</label>
	<input data-required id="formName" type="text" name="name" class="form__input">
</div>

<!-- Email Input -->
<div class="form__item">
	<label for="formEmail" class="form__label">Email*:</label>
	<input data-required="email" id="formEmail" type="text" name="email" class="form__input">
</div>

<!-- Phone Input -->
<div class="form__item">
	<label for="formEmail" class="form__label">Phone Number*:</label>
	<input data-required="phone" id="formEmail" type="text" name="phone" class="form__input">
</div>

<!-- Checkbox Input -->
<div class="checkbox">
	<input data-required id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input">
	<label for="formAgreement" class="checkbox__label"><span>Politics*</span></label>
</div>