<!-- ======================[ Header ]====================== -->
<header class="header lock-padding">
	<div class="header__wrapper">
		<div class="header__container">
			<div class="header__body">
				<div class="header__main">
					<a href="" class="header__logo"></a>
					<div class="header__menu menu">
						<nav class="menu__body">
							<ul data-spollers="768,max" class="menu__list">
								<li class="menu__item">
									<a href="" class="menu__link">Menu 1 lvl</a>
									<!-- Menu-Sub-List Arrow -->
									<button data-spoller class="menu__arrow"></button>
									<!-- Menu-Sub-List -->
									<ul class="menu__sub-list">
										<li class="menu__sub-item">
											<a href="" class="menu__sub-link">Menu 2 lvl</a>
											<!-- Menu-Sub-Sub-List Arrow -->
											<button data-spoller class="menu__arrow menu__sub-arrow"></button>
											<!-- Menu-Sub-Sub-List -->
											<ul class="menu__sub-sub-list">
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
											</ul>
										</li>
										<li class="menu__sub-item">
											<a href="" class="menu__sub-link">Menu 2 lvl</a>
											<!-- Menu-Sub-Sub-List Arrow -->
											<button data-spoller class="menu__arrow"></button>
											<!-- Menu-Sub-Sub-List -->
											<ul class="menu__sub-sub-list">
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
											</ul>
										</li>
										<li class="menu__sub-item">
											<a href="" class="menu__sub-link">Menu 2 lvl</a>
											<!-- Menu-Sub-Sub-List Arrow -->
											<button data-spoller class="menu__arrow"></button>
											<!-- Menu-Sub-Sub-List -->
											<ul class="menu__sub-sub-list">
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
												<li class="menu__sub-sub-item">
													<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="">Section 1</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="">Section 2</a>
								</li>
								<!-- Attribute data-goto, for his work enter a need class of element ex.: data-goto=".page__section_1" -->
							</ul>
						</nav>
					</div>
				</div>
				<div class="icon-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</header>




<!-- <header class="header lock-padding">
	<div class="header__wrapper">
		<div class="header__container">
			<a href="" class="header__logo"></a>
			<div class="header__menu menu">
				<div class="menu__icon">
					<span></span>
				</div>
				<nav class="menu__body">
					<ul class="menu__list">
						<li>
							<a href="" class="menu__link">Menu 1 lvl</a>
							 Menu-Sub-List Arrow
							<span class="menu__arrow"></span>
							 Menu-Sub-List
							<ul class="menu__sub-list">
								<li>
									<a href="" class="menu__sub-link">Menu 2 lvl</a>
									 Menu-Sub-Sub-List Arrow
									<span class="menu__sub-arrow"></span>
									 Menu-Sub-Sub-List
									<ul class="menu__sub-sub-list">
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="" class="menu__sub-link">Menu 2 lvl</a>
									 Menu-Sub-Sub-List Arrow
									<span class="menu__sub-arrow"></span>
									 Menu-Sub-Sub-List
									<ul class="menu__sub-sub-list">
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="" class="menu__sub-link">Menu 2 lvl</a>
								- Menu-Sub-Sub-List Arrow
									<span class="menu__sub-arrow"></span>
									 Menu-Sub-Sub-List
									<ul class="menu__sub-sub-list">
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
										<li>
											<a class="menu__sub-sub-link" href="">Menu 3 lvl</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						 Attribute data-goto, for his work enter a need class of element
						<li><a data-goto=".page__section_1" href=javascript:void(0) class="menu__link">Section 1</a></li>
						<li><a data-goto=".page__section_2" href=javascript:void(0) class="menu__link">Section 2</a></li>
						<li><a data-goto=".page__section_3" href=javascript:void(0) class="menu__link">Section 3</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header> -->