<!-- <div class="item__body">
	<h3 class="item__title _anim-show _anim-items _anim-no-hide">The description for the image</h3>
	<div class="item__text _anim-show _anim-items _anim-no-hide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odit obcaecati tempora amet beatae quis! Tempora amet laudantium, quis? Enim iure id deserunt officia est libero consequatur nulla totam iste.</div>
</div> -->
<!-- <div class="vertical__item _anim-items _anim-no-hide">
	<div class="vertical__subtitle">Lorem, ipsum.</div>
	<div class="vertical__label">Lorem.</div>
	<div class="vertical__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt ut nulla harum quisquam nam eaque, aperiam illo ab, totam.</div>
	<a href="#" class="vertical__btn">Subscribe</a>
</div> -->

<!-- Classes instruction -->
<!-- ._active - element in viewport zone, start animation
._anim-items - for conect animationScroll for this element
._anim-no-hide - if you want only 1 animation, without repeat
global class for examle ._anim-show, if one animation repeat -->