// ======================[ Spoilers ]======================
.spoiler {
  padding: 30px;
}

.spoiler-block {
  margin: 0 0 30px 0;
  &__item {
    margin: 0 0 10px 0;
  }
  &__title {
    width: 100%;
    text-align: left;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    position: relative;
  }
  &__text {
    padding: 0 10px 10px;
    line-height: 130%;
  }
}

.spoiler-block._init {
  .block__title {
    padding: 10px 40px 10px 10px;
  }

  .spoiler-block__title {
    &::before {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      right: 10px;
      top: 20px;
      transition: transform 0.3s ease 0s;
    }

    &::after {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      right: 10px;
      top: 20px;
      transition: transform 0.3s ease 0s;
      transform: rotate(-90deg);
    }

    &._active::after {
      transform: rotate(0deg);
    }
  }
}

.spoiler-block_1 .spoiler-block__item {
  background-color: #77608d;
}
.spoiler-block_2 .spoiler-block__item {
  background-color: #794f45;
}
.spoiler-block_3 .spoiler-block__item {
  background-color: #7a956b;
}
