<!-- ======================[ Spoilers ]====================== -->

<div class="spoiler">
	<div data-spollers data-one-spoller class="spoiler-block spoiler-block_1">
		<div class="spoiler-block__item">
			<button tabindex="-1" type="button" data-spoller class="spoiler-block__title">Default Spoiler 1</button>
			<div class="spoiler-block__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ipsum distinctio autem cum beatae quasi? Facere odio deleniti, beatae magni iusto consectetur expedita quibusdam, quaerat, suscipit perspiciatis officia quisquam?
			</div>
		</div>
		<div class="spoiler-block__item">
			<button tabindex="-1" type="button" data-spoller class="spoiler-block__title">Default Spoiler 2</button>
			<div class="spoiler-block__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ipsum distinctio autem cum beatae quasi? Facere odio deleniti, beatae magni iusto consectetur expedita quibusdam, quaerat, suscipit perspiciatis officia quisquam?
			</div>
		</div>
		<div class="spoiler-block__item">
			<button tabindex="-1" type="button" data-spoller class="spoiler-block__title">Default Spoiler 3</button>
			<div class="spoiler-block__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ipsum distinctio autem cum beatae quasi? Facere odio deleniti, beatae magni iusto consectetur expedita quibusdam, quaerat, suscipit perspiciatis officia quisquam?
			</div>
		</div>
	</div>

	<!-- Spoilers which work on special size of screen -->
	<div data-spollers="650,min" class="spoiler-block spoiler-block_2">
		<div class="spoiler-block__item">
			<button tabindex="-1" type="button" data-spoller class="spoiler-block__title">Spoiler work on screen >= 650px</button>
			<div class="spoiler-block__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ipsum distinctio autem cum beatae quasi? Facere odio deleniti, beatae magni iusto consectetur expedita quibusdam, quaerat, suscipit perspiciatis officia quisquam?
			</div>
		</div>
	</div>
	<div data-spollers="800,max" class="spoiler-block spoiler-block_3">
		<div class="spoiler-block__item">
			<button tabindex="-1" type="button" data-spoller class="spoiler-block__title">Spoiler 1 work on screen <= 800px</button>
			<div class="spoiler-block__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ipsum distinctio autem cum beatae quasi? Facere odio deleniti, beatae magni iusto consectetur expedita quibusdam, quaerat, suscipit perspiciatis officia quisquam?
			</div>
		</div>
		<div class="spoiler-block__item">
			<button tabindex="-1" type="button" data-spoller class="spoiler-block__title">Spoiler 2 work on screen <= 800px</button>
			<div class="spoiler-block__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ipsum distinctio autem cum beatae quasi? Facere odio deleniti, beatae magni iusto consectetur expedita quibusdam, quaerat, suscipit perspiciatis officia quisquam?
			</div>
		</div>
	</div>
</div>