// Footer
.footer {
	background-color: $blueColor;
	&__container {
		@include adaptivValue('padding-top', 106, 40, 1);
		@include adaptivValue('padding-bottom', 62, 40, 1);
	}
	&__header {
		@include adaptivValue('padding-bottom', 101, 40, 1);
		@media (max-width: $md1) {
			display: flex;
			justify-content: center;
		}
	}
	&__line {
		position: relative;
		left: -2.44%;
		width: percent(1376, 1312);
		height: rem(1);
		background-color: #fff;
	}
	&__items {}
	&__footer {
		padding-top: rem(30);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: rem(40);
		row-gap: rem(25);
		@media (max-width: $md3) {
			justify-content: center;
		}
	}
	&__copy {
		font-size: rem(14);
		color: #fff;
	}
	&__other {}
}
.items-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: rem(30);
	@media (max-width: $md1) {
		max-width: rem(768);
		row-gap: rem(40);
	}
	@media (max-width: $md3) {
		max-width: rem(415);
	}
	&__item {

	}
	&__experience {}
	&__subscribe {}
	&__follow {}
	&__contact {}
}
.experience {
	display: flex;
	flex-direction: column;
	gap: rem(24);
	padding-right: rem(20);
	&__logo {}
	&__text {
		font-size: rem(18);
		color: #fff;
		max-width: rem(352);
	}
}
.subscribe {
	display: flex;
	flex-direction: column;
	gap: rem(24);
	padding-right: rem(20);
	@media (max-width: $md3) {
		padding-right: 0;
	}
	&__text {
		font-size: rem(18);
		color: #fff;
		max-width: rem(396);
	}
	&__form {}
}
.form {
	display: flex;
	gap: rem(16);
	@media (max-width: $md4) {
		gap: rem(10);
	}
	&__item {
		position: relative;
		@media (max-width: $md4) {
			width: 100%;
		}
	}
	&__input {
		width: rem(277);
		font-size: rem(14);
		color: #b1b5bb;
		padding: rem(15) rem(9) rem(15) rem(9);
		background-color: #fff;
		position: relative;
		@media (max-width: $md4) {
			width: 100%;
		}
	}
	&__button {
		padding: rem(15.5) rem(26);
		font-weight: 700;
		letter-spacing: 0.01em;
		color: $mainColor;
		background-color: #fff;
		transition: box-shadow 0.3s ease;
		@media (max-width: $md4) {
			padding: rem(10.5) rem(20);
		}
		&:hover {
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
		}
	}
}
.follow {
	display: flex;
	flex-direction: column;
	gap: rem(16);
	padding-right: rem(20);
	&__title {
		font-family: $fontSecondary;
		letter-spacing: 0.02em;
		color: #fff;
	}
	&__social {
		display: flex;
		gap: rem(16);
	}
	&__icon {
		width: rem(24);
		height: rem(24);
		border-radius: 50%;
		background-color: #fff;
		position: relative;
		transition: all 0.3s ease;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.contact {
	display: flex;
	flex-direction: column;
	gap: rem(9);
	&__title {
		font-family: $fontSecondary;
		letter-spacing: 0.02em;
		color: #fff;
	}
	&__phone {
		color: #fff;
	}
}
.other {
	&__list {
		display: flex;
		gap: rem(40);
		@media (max-width: $md3) {
			justify-content: center;
			row-gap: rem(15);
			column-gap: rem(20);
		}
		flex-wrap: wrap;
	}
	&__item {
		font-size: rem(14);
		color: #fff;
	}
}
